<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model='parent.some'>
        <!-- <input type="text" v-model='something'>
        <input type="text" v-model='something'>
        <input type="text" v-model='some'>
        <div v-text='someText'></div>
        <div v-html='someHtml'></div> -->
    </div>
    <script src='dist/build.js'></script>
</body>
</html>